# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
build/

# IDE
.idea/
*.iml

# iOS generated
frontend/ios/Flutter/ephemeral/
frontend/ios/Flutter/flutter_export_environment.sh
frontend/ios/Flutter/Generated.xcconfig

# Generated plugin registrants
frontend/ios/Runner/GeneratedPluginRegistrant.h
frontend/ios/Runner/GeneratedPluginRegistrant.m
frontend/linux/flutter/generated_plugin_registrant.*
frontend/linux/flutter/generated_plugins.cmake
windows/flutter/generated_plugin_registrant.*
windows/flutter/generated_plugins.cmake
frontend/macos/Flutter/GeneratedPluginRegistrant.swift
android/app/google-services.json
# Sensitive files
.env